@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary: #181818;
    --primary-foreground: #fafafa;
    --secondary: #f5f5f5;
    --secondary-foreground: #181818;
    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --accent: #f5f5f5;
    --accent-foreground: #181818;
    --destructive: #e5484d;
    --destructive-foreground: #fafafa;
    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #0a0a0a;
    --chart-1: #ea924e;
    --chart-2: #2f988b;
    --chart-3: #37302b;
    --chart-4: #f1c24d;
    --chart-5: #f2994a;
    --radius: 0.5rem;
    --sidebar-background: #fafafa;
    --sidebar-foreground: #3f3f46;
    --sidebar-primary: #1a1a1a;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f3f3f3;
    --sidebar-accent-foreground: #1a1a1a;
    --sidebar-border: #dbeafe;
    --sidebar-ring: #ffbbbb;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #fafafa;
    --card: #0a0a0a;
    --card-foreground: #fafafa;
    --popover: #0a0a0a;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #181818;
    --secondary: #262626;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a1a1a1;
    --accent: #262626;
    --accent-foreground: #fafafa;
    --destructive: #8b1e1e;
    --destructive-foreground: #fafafa;
    --border: #262626;
    --input: #262626;
    --ring: #d4d4d4;
    --chart-1: #2e2827;
    --chart-2: #38b2ac;
    --chart-3: #f59e0b;
    --chart-4: #c084fc;
    --chart-5: #ef4444;
    --sidebar-background: #1a1a1a;
    --sidebar-foreground: #f3f3f3;
    --sidebar-primary: #adc7ff;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #2b2b2b;
    --sidebar-accent-foreground: #f3f3f3;
    --sidebar-border: #2b2b2b;
    --sidebar-ring: #7a8496;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
